<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-header" style="background-color: #e7e7e7; margin-left: 30px;">
        <a
          style="margin: 0 auto;"
          [ngClass] = "{enabled: isAuthenticated}"
          class="navbar-brand"
          (click) = "onDataFetch()">
          {{ isAuthenticated ? "Show Inventory" : "The Bike Shop" }}
        </a>
      </div>

      <div class="navbar-right" style="position: absolute; right: 30px">
        <a *ngIf="isAuthenticated" (click) = "onLogout()" class="navbar-brand">Logout</a>
      </div>
    </div>
  </div>
</nav>

