<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed"> -->
      <!-- <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span> -->
      <!-- </button> -->
      <div class="navbar-header" style="background-color: #e7e7e7; margin-left: 30px;">
        <a style="margin: 0 auto;" routerLink="/" class="navbar-brand">Show Inventory</a>
      </div>
    </div>
    <!-- <div
      class="navbar-collapse"
      [class.collapse]="collapsed"
      (window:resize)="collapsed = true">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a
            style="cursor: pointer;"
            class="dropdown-toggle"
            role="button">Manage
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" (click)="onDataSave()">Save Data</a></li>
            <li><a style="cursor: pointer;" (click)="onDataFetch()">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div> -->
  </div>
</nav>

  <!-- <a class="navbar-brand">
    <img src="../../assets/biker.jpg" width="35" height="35" alt="Bike">
  </a> -->
