<div class="row">
  <div class="col-xs-12">
    <button
      type="text"
      class="btn btn-default"
      style="margin-right: 5px;"(click)="onEdit()">Edit Bike
    </button>

    <button
      type="text"
      class="btn btn-danger"
      style="margin-right: 5px;"(click)="onDelete()">Delete Bike
  </button>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-8">
    <img
      [src]="bike.imagePath"
      alt="{{ bike.name }}"
      class="img-responsive"
      style="max-height: 200px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-10" >
    <h1>{{ bike.name }}</h1>
    <span *ngIf="bike.rating">Rating: {{ bike.rating }}</span>
    <span>Quantity: {{ bike.quantity }}</span>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">&nbsp;</div>
</div>
<div class="row" style="margin-bottom: 20px;">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-10">
    {{ bike.description }}
  </div>
</div>


